* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 50%;
  height: 20vh;
}

a {
  text-decoration: none;
}

h2 span {
  font-size: small;
}

footer {
  border-top: black 1px solid;
  height: 10vh;
  align-items: center;
  padding-left: 2rem;
}

.comments {
  font-size: large;
}

.comments:hover {
  cursor: pointer;
}

@import url('./utility.css');