* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  width: 50%;
  height: 20vh;
}

a {
  text-decoration: none;
}

fieldset {
  height: 100%;
  width: 100%;
  border: none;
}

legend {
  margin-bottom: 1rem;
  text-align: center;
}

input,
textarea {
  width: 30vw;
  height: 5vh;
  padding: 0.5rem 0.3rem;
  transition: all 1s ease-in-out;
}

textarea {
  width: 35vw;
  height: 30vh;
  resize: none;
}

input:focus,
textarea:focus {
  font-size: large;
}

h2 span {
  font-size: small;
}

footer {
  border-top: black 1px solid;
  height: 10vh;
  align-items: center;
  padding-left: 2rem;
}

.comments {
  font-size: large;
}

.comments:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.9);
  color: white;
  overflow-y: scroll;
}

.modal-content {
  width: 90%;
  background-color: white;
  color: black;
  margin: 1rem auto;
  padding-bottom: 3rem;
}

.modal iframe {
  width: 100%;
  border: none;
}

.loading {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.red-text {
  color: red;
  font-family: 'Comic Sans MS', serif;
  font-size: large;
}

.green-text {
  color: green;
  font-family: 'Comic Sans MS', serif;
  font-size: large;
}

.zoom {
  transition: transform 0.2s;
}

.zoom:hover {
  -ms-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.red-heart {
  color: red;
  font-size: medium;
}

.blue-comment {
  color: rgb(85, 85, 255);
  font-size: medium;
}

@import url('./utility.css');
@import url('./mobile.css');
