.container {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
    border-radius: 50%;
    border: 1px solid blue;
    padding: 0.6rem;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.navbar {
    align-items: baseline;
    justify-content: space-between;
}

.nav-item {
    margin-right: 1rem;
}

.items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10rem;
    row-gap: 2rem;
  }

.item img {
    width: 100%;
    height: 30vh;
}

.nav-item:last-of-type {
    margin-right: none;
}

h2.d-flex {
    justify-content: space-between;
    align-items: baseline;
}

main.container {
    margin-top: 3rem;
}